REPO_NAME=gp
REPO_PATH=../1С ГП/gp_bsl
BRANCH=master
ALLOWED_REPOS=gp
ALLOWED_BRANCHES=master

GITLAB_BASE_URL=https://gitlab.company.ru
GITLAB_PROJECT_PATH=group/project

WEAVIATE_URL=http://localhost:8080
WEAVIATE_API_KEY=
WEAVIATE_GRPC_HOST=
WEAVIATE_GRPC_PORT=50051
WEAVIATE_GRPC_SECURE=false
WEAVIATE_COLLECTION=OneCCodeChunk
WEAVIATE_VECTOR_NAME=code_vector
WEAVIATE_BATCH_SIZE=64

EMBEDDINGS_BASE_URL=http://localhost:8001/v1
EMBEDDINGS_MODEL=qwen3-embedder-8b
EMBEDDING_BATCH_SIZE=16
EMBEDDING_TEXT_LIMIT=16000
EMBEDDING_TIMEOUT_SECONDS=30
EMBEDDING_RETRIES=3

SEARCH_ALPHA=0.35
SEARCH_INTERNAL_LIMIT=50
SEARCH_INTERNAL_LIMIT_MAX=200
API_DEFAULT_LIMIT=10
API_MAX_LIMIT=50

API_HOST=0.0.0.0
API_PORT=8000

ONEC_CODE_SEARCH_API_URL=http://onec-code-search-api:8000
